.dnd {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  padding: 5px 5px 5px 10px;
  width: 100%;
  border: 1px dashed transparent;
  background-color: #d8d5cd;

  &__name {
    padding: 0 15px;
    max-width: calc(100% - 18px);
    flex-grow: 1;
    text-align: left;
    background-color: inherit;
  }

  &__plug {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #fff;
    z-index: 50;
  }
}

.current {
  background-color: #fff;
  border-color: #ccc;
}
