.Loader {
  position: relative;
  width: 175px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;


  margin: auto;
  margin-bottom: 30px;
  background-image: radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #FFF 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), linear-gradient(#FFF 50px, transparent 0);
  background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
  background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
  background-repeat: no-repeat;
  box-sizing: border-box;

  &:last-child {
    margin: auto;
  }

  &::after {
    content: '';
    //left: 0;
    //right: 0;
    bottom: 30px;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-color: #FF3D00 transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  &__text {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;

    &:after {
      content: "Loading";
      font-size: 14px;
      font-weight: 700;
      animation: loading-text 3s infinite;
    }

    @keyframes loading-text {
      0% {
        content: "Loading"
      }

      25% {
        content: "Loading."
      }

      50% {
        content: "Loading.."
      }

      75% {
        content: "Loading..."
      }
    }
  }
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

