.Weather {
  margin-bottom: 45px;
  text-align: left;
  padding: 0 15px;

  &__city {
    //margin-top: 10px;
    font-weight: 700;

    span {
      font-weight: 400;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    margin: 0;
    //justify-content: center;

  }

  &__temp {
    font-size: 24px;
    font-weight: 700;
  }

  &__degSymb {
    font-size: 26px;
  }

  &__body {
    font-size: 14px;
  }

  &__feel {

  }

  &__details {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 0;
    padding: 0;
  }

  &__line {
    margin: 0 20px 10px 0;
    &:first-child {
      margin: 0 20px 10px 0;
    }
    div {
      display: flex;
      align-items: center;

    }
  }

  &__pressureIcon {
    margin-right: 3px;
    width: 16px;
    height: 16px;
  }
}